<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='sidebar.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <title>Dashboard</title>
</head>


<body>
    <div id="scrollTop" onclick='scrollToTop()'>
        <i class="ri-arrow-up-line"></i>
    </div>

    <div class="navcontainer">

        <nav>
            <div class="nav-logo" onclick="homeRedir()">
                <i class="ri-apps-2-line"></i>
                <h2 id="logo">Logo</h2>
            </div>
            <div class="nav-menu" id="nav-menu">
                <ul class="nav-list">
                    <li>
                        <a href="/" class="nav-link" data-inViewport='slideRight'>
                            <i class="ri-dashboard-line"></i>
                            <span class="link">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/booking" class="nav-link" data-inViewport='slideRight'>
                            <i class="ri-calendar-line"></i>
                            <span class="link">Book Now</span>
                        </a>
                    </li>
                    <li>
                        <a href="/mybookings" class="nav-link" data-inViewport='slideRight'>
                            <i class="ri-user-line"></i>
                            <span class="link">My Bookings</span>
                        </a>
                    </li>
                    <div class="bottomitems">
                        <li>
                            <a href="/settings" class="nav-link" data-inViewport='slideRight'>
                                <i class="ri-settings-5-line"></i>
                                <span class="link">Settings</span>
                            </a>
                        </li>
                        <li>
                            <a href="/logout" class="nav-link" data-inViewport='slideRight'>
                                <i class="ri-logout-box-line"></i>
                                <span class="link">Logout</span>
                            </a>
                        </li>
                    </div>
                </ul>

                <div class="nav-close" id="nav-close" onclick="hideNav()">
                    <i class="ri-close-line"></i>
                </div>
            </div>

            <div class="nav-toggle" id="nav-toggle" onclick="showNav()">
                <i class="ri-menu-line"></i>
            </div>
        </nav>
    </div>

    <div class="home"></div>

    <section class="overlay"></section>
    <script type="text/javascript" src="{{ url_for('static', filename='sidebar.js') }}"></script>
</body>

</html>